<% content_for :page_title do %>
    Dashboard
<% end %>

<% content_for :page_class do %>
    background-image
<% end %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-2">
    <a href="<%=search_path%>" class="widget">
      <div class="widget-content themed-background-info text-light-op text-center">
        <div class="widget-icon">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="widget-content text-dark text-center">
        <strong>Search</strong>
      </div>
    </a>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <a href="<%=new_trip_path%>" class="widget", id="create_trip">
      <div class="widget-content themed-background-passion text-light-op text-center">
        <div class="widget-icon">
          <i class="fa fa-plus"></i>
        </div>
      </div>
      <div class="widget-content text-dark text-center">
        <strong>Create</strong>
      </div>
    </a>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <a href="<%=trips_path%>" class="widget">
      <div class="widget-content themed-background-amethyst text-light-op text-center">
        <div class="widget-icon">
          <i class="fa fa-compass"></i>
        </div>
      </div>
      <div class="widget-content text-dark text-center">
        <strong>Explore</strong>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="text-center">My trips</h1>
    <br/>
  </div>
</div>

<div class="row">
  <% @trips.each do |trip| %>
      <div class="col-lg-4">
        <%= render 'trips/trip', :trip => trip %>
      </div>
  <% end %>
</div>
