<% content_for :page_title do %>
    Search
<% end %>

<%= render 'searchform' %>

<% unless @trips.nil? %>
    <% unless @trips.blank? %>

        <div class="block full">
          <div class="block-title">
            <h2>Search Results</h2>
          </div>

              <div>
              <% @trips.each do |trip| %>
                <ul>
                  <%= link_to trip.title, trip %>
                  <div>
                    <p>
                      <%= trip.description %>
                    </p>
                    <p>
                      <%= trip.tag_list %>
                    </p>
                  </div>
                </ul>
              <% end %>
              </div>

        </div>

    <% else %>
        <div class="block full">
          <div class="block-title">
            <h2>No trips matched your search parameters.</h2>
          </div>
        </div>
    <% end %>
<% end %>
