<tr>
  <td>
    <h4>
      <a class="text-dark" href="javascript:void(0)"><strong>
        <%= link_to discussion.title, trip_discussion_path(@trip, discussion), id: "discussion_" << discussion.id.to_s %>
      </strong></a>
    </h4>
  </td>
  <td style="width: 120px;" class="hidden-xs text-right text-muted"><em><%= distance_of_time_in_words (Time.now - discussion.updated_at) %></em></td>
</tr>