<%= form_tag search_users_path, :class => 'form-horizontal', method: :get do %>
    <div class="form-group remove-margin-bottom">
      <div class="col-sm-6 push-bit">
        <%= text_field_tag :name_search, params[:name_search], class: 'form-control', placeholder: 'Search name...' %>
      </div>
      <div class="col-sm-offset-1 col-sm-5">
        <%= submit_tag t('search_users_title'), name: nil, id: 'search_users_form_btn', class: 'btn btn-effect-ripple btn-primary', style: 'overflow: hidden; position: relative;' %>
      </div>
    </div>
<% end %>