
<fieldset>
  <legend><i class="fa fa-angle-right"></i>Blog content</legend>
  <div class="form-group">
    <div class="col-xs-12">
      <textarea id="textarea-ckeditor" name="textarea-ckeditor" class="ckeditor"></textarea>
    </div>
  </div>
</fieldset>
