<% content_for :page_title do %>
    <%= I18n.t 'trip_article_edit' %>
<% end %>

<div class="content-header">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-section">
        <h1><%= I18n.t 'trip_article_edit' %></h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>