<% content_for :page_title do %>
    Edit <%= @article.title %>
<% end %>

<div class="content-header">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-section">
        <h1>Edit blog</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>