<% content_for :page_title do %>
    Blog index
<% end %>

<div class="block-section" id="search-tab-sites">
  <ol>
    <li>
      <h4>
        <a href="javascript:void(0)"><strong>AppUI - Web App and Admin Template</strong></a><br>
        <small><a href="javascript:void(0)" class="text-muted"><strong>http://pixelcave.com/appui/</strong></a></small>
      </h4>
      <p></p>
    </li>

  </ol>
</div>
