<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="block">
        <!-- Horizontal form title -->
        <div class="block-title">
            <h2><%= t('edit') %> <%= @equipment_item.name %></h2>
        </div>
        <!-- END horizontal form title -->
        <%= render 'form_small' %>
    </div>
</div>
</div>

