<div class="content-header">
  <div class="header-section">
    <%= form_tag search_path, :class => 'form-horizontal', method: :get do %>

        <div class="form group">
          <div class="col-sm-6 push-bit">
            <%= text_field_tag :name_search, params[:name_search], class: 'form-control', placeholder: 'Search name...' %>
          </div>
          <div class="col-sm-3">
            <%= text_field_tag :email_search, params[:email_search], class: 'form-control', placeholder: 'Search email...' %>
          </div>
        </div>
    <% end %>
  </div>
</div>