<div class="content-header">
  <div class="header-section">
    <%= form_tag search_path, :class => 'form-horizontal', method: :get do %>

        <div class="form group">
          <div class="col-sm-6 push-bit">

          </div>
        </div>
    <% end %>
  </div>
</div>