<div class="col-sm-3">
  <a href="<%=user_path(user)%>" class="widget">
    <div class="widget-content text-right clearfix">
      <img src="<%= user.image %>" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar pull-left">
      <h2 class="widget-heading h3"><strong><%= user.name %></strong></h2>
    </div>
  </a>
</div>