<!-- Project Widget -->
<div class="widget">
  <div class="widget-content border-bottom">
    <span class="pull-right text-muted">60%</span>
    <i class="gi gi-fins"></i> Equipment
  </div>
  <%= render partial: '/widgets/records/equipment_list', collection: @trip.equipment_lists %>
  <div class="widget-content widget-content-full border-top">
    <div class="row text-center">
      <div class="col-xs-6 push-inner-top-bottom border-right">
        <i class="fa fa-dollar"></i> ~ 800
      </div>
      <div class="col-xs-6 push-inner-top-bottom">
        <strong>80 Items</strong>
      </div>
    </div>
  </div>
</div>
<!-- END Project Widget -->