<!-- People Widget -->
<div class="widget">
  <div class="widget-content border-bottom">
    <i class="gi gi-calendar"></i> <%= t :trip_events_upcoming %>
  </div>
  <div class="widget-content widget-content-full">
    <table class="table table-borderless table-striped table-vcenter">
      <tbody>
      <%= render partial: '/widgets/records/event', collection: @trip.events.where('start_date > ?', DateTime.now).order(:start_date).limit(5) %>
      </tbody>
    </table>
  </div>
</div>
<!-- END People Widget -->
