<a href="<%= edit_trip_path @trip %>" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
  <div class="widget-icon pull-left themed-background-danger">
    <i class="gi gi-lock text-light-op"></i>
  </div>
  <h2 class="widget-heading h3 text-danger">
    <strong><%= t :private_trip %></strong>
  </h2>
  <span class="text-muted"><%= t :widget_private_description %></span>
</div>
</a>