<a href="<%= trip_public_path @trip %>" class="widget">
<div class="widget-content widget-content-mini text-right clearfix">
  <div class="widget-icon pull-left themed-background-success">
    <i class="gi gi-unlock text-light-op"></i>
  </div>
  <h2 class="widget-heading h3 text-success">
    <strong><%= t :public_trip %></strong>
  </h2>
  <span class="text-muted"><%= t :widget_public_description %></span>
</div>
</a>