<% content_for :page_title do %>
    Equipment Lists
<% end %>

<% content_for :page_class do %>
    background-image
<% end %>

<%= render 'sidebar' %>

<div class="row">

  <div class="col-md-offset-3 col-md-6 text-center">

    <div class="clearfix">
      <blockquote class="pull-left">
        <% if @trip.equipment_lists.empty? %>
            <p>You don't have any equipment lists right now.</p>
            <p>
                <a class="btn btn-danger" href="<%= new_trip_equipment_list_path(@trip) %>">Create a new equipment list</a>
            </p>
        <% else %>
            <p>Click on a equipment list to the left to collaborate.</p>
        <% end %>
        <small>Yours sincerely, turi team</small>
      </blockquote>
    </div>

  </div>

</div>
