// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trip-location {
  margin-right: 15px;
}

.trip-detail-icon {
  margin-right: 3px;
}

.widget .widget-content .gi {
  margin-right: 5px;
}