<a href="<%= trip_equipment_list_path(@trip, equipment_list) %>" class="widget-content themed-background-muted text-right clearfix">
  <h2 class="widget-heading h3 text-muted"><%= equipment_list.name %></h2>
  <div class="progress progress-striped progress-mini active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
  </div>
</a>