<tr>
  <td class="text-center" style="width: 100px;">
    <i class="fa fa-calendar"></i>
  </td>
  <td>
    <a href="<%=trip_event_path(@trip, event)%>"><%=event.name%></a><br>
    <span class="text-muted"><small>5 common friends</small></span>
  </td>
  <td class="text-center" style="width: 80px;">
  </td>
</tr>