<!-- Intro -->
<section class="site-section site-section-top site-section-light themed-background-dark">
  <div class="container">
    <h1 class="text-center animation-fadeInQuickInv"><strong>All your questions answered.</strong></h1>
  </div>
</section>
<!-- END Intro -->

<!-- Intro Title -->
<section class="site-content site-section-mini site-section-light themed-background-social">
  <div class="container">
    <h2 class="site-heading h3 site-block">
      <i class="fa fa-fw fa-chevron-right"></i> <strong>Usage</strong>
    </h2>
  </div>
</section>
<!-- END Intro Title -->

<!-- Intro FAQ -->
<section class="site-content site-section">
  <div class="container">
    <div class="row site-block">
      <div class="col-md-8 col-md-offset-2">
        <div id="faq1" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q1"><strong>Is turi free (forever)?</strong></a>
              </div>
            </div>
            <div id="faq1_q1" class="panel-collapse collapse in">
              <div class="panel-body">
                <h1 class="text-center">Yes.</h1>
                <h4 class="text-center">We will never charge you until you decide to support us by choosing the VIP plan!</h4>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="fa fa-angle-right"></i> <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q2"><strong>Who are we?</strong></a>
              </div>
            </div>
            <div id="faq1_q2" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We are students.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Intro FAQ -->