<!-- Intro -->
<section class="site-section site-section-top site-section-light themed-background-dark">
  <div class="container text-center">
    <h1 class="text-center animation-fadeInQuickInv"><strong>“Not all those who wander are lost.”</strong></h1>
    ― J.R.R. Tolkien, The Fellowship of the Ring
  </div>
</section>
<!-- END Intro -->


<!-- Features #1 -->
<section class="site-content site-section border-bottom">
  <div class="container text-center">
    <div class="row row-items">
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-danger" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-parents"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Participate</strong></h4>
          <p class="feature-text text-muted">Invite users to your trip and plan together where and what you are going to do. Yoi can add participants as editor or only as a viewer!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-success" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-direction"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Routes</strong></h4>
          <p class="feature-text text-muted">Plan different routes and vote for them. You can add several waypoints with custom icons and get a detailed route information afterwards.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-info" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-fins"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Equipment</strong></h4>
          <p class="feature-text text-muted">Who is buying what, who bought what, how much money did we spent? Solve these problems with equipment lists. You can also add them to a specific routes!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Features #1 -->

<!-- Features #2 -->
<section class="site-content site-section border-bottom">
  <div class="container text-center">
    <div class="row row-items">
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-amethyst" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-group"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Discussions</strong></h4>
          <p class="feature-text text-muted">Ever planned a trip with people outside of your city? Open discussions in turi if you can not make it to a meeting!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-flat" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-blog"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Blog</strong></h4>
          <p class="feature-text text-muted">Share your experience with others or save them for some good memories. You can define if a blog article should be public or private!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-passion" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-picture"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Gallery</strong></h4>
          <p class="feature-text text-muted">You have images you want to share? We've integrated Dropbox and we're going to add more image providers. So you can keep your images in one place.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Features #2 -->

<!-- Features #3 -->
<section class="site-content site-section border-bottom">
  <div class="container text-center">
    <div class="row row-items">
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-warning" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-calendar"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Calendar</strong></h4>
          <p class="feature-text text-muted">Sometimes it's hard to find the right time. You can manage your events and plan your next dates.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-info" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-compass"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Explore & Share</strong></h4>
          <p class="feature-text text-muted">Share your trip or parts of your trips so that other people can follow your footsteps.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="feature visibility-none themed-background-classy" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
          <i class="gi gi-message_full"></i>
        </span>
        <div class="visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick2Inv" data-element-offset="-100">
          <h4 class="site-heading feature-heading"><strong>Communicate</strong></h4>
          <p class="feature-text text-muted">Use messages to keep in touch with your friends or make new friends.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Features #3 -->


<!-- Quick Stats -->
<section class="site-content site-section themed-background-dark">
  <div class="container">
    <!-- Stats Row -->
    <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
    <div class="row">
      <div class="col-sm-4">
        <div class="counter site-block">
          <span data-toggle="countTo" data-to="500" data-after="+"></span>
          <small>Users</small>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="counter site-block">
          <span data-toggle="countTo" data-to="2320" data-after="+"></span>
          <small>Trips</small>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="counter site-block">
          <span data-toggle="countTo" data-to="8000" data-after="+"></span>
          <small>Hikes</small>
        </div>
      </div>
    </div>
    <!-- END Stats Row -->
  </div>
</section>
<!-- END Quick Stats -->


<!-- Sign Up Action -->
<section class="site-content site-section">
  <div class="container">
    <h2 class="site-heading text-center">Sign up today for <strong>free</strong>!</h2>
    <div class="site-block text-center">
      <a href="<%=new_user_registration_path%>" id="sign_up_button" class="btn btn-lg btn-danger push-right-left"><strong>Create your turi account</strong></a>
    </div>
  </div>
</section>
<!-- END Sign Up Action -->
