<div id="sidebar-brand" class="themed-background">
  <a href="<%=dashboard_path%>" class="sidebar-title">
    <img src="<%=asset_path('app/img/logo_white.png')%>" title="turi" class="logo"/> <span class="sidebar-nav-mini-hide"><strong>turi</strong></span>
  </a>
</div>